.env

adguardhome/conf
adguardhome/data

file-browser/filebrowser_config
file-browser/filebrowser_data
file-browser/filebrowser_database

home-assistant/config
home-assistant/mosquitto
home-assistant/zigbee2mqtt-data

immich/library
immich/model-cache
immich/postgres

jellyfin/huntarr_config
jellyfin/jellyfin_cache
jellyfin/jellyfin_config
jellyfin/media
jellyfin/prowlarr_config
jellyfin/radarr_config
jellyfin/seerr_config
jellyfin/sonarr_config
jellyfin/transmission_config

portainer/data

samba/users.conf

monitoring/grafana-data
monitoring/prometheus-data
monitoring/loki-data
monitoring/alloy-data
monitoring/geoip
monitoring/uptime-kuma-data

home-page/config/logs

authelia/config
authelia/redis

beszel/beszel_agent_data
beszel/beszel_data

netflix/config.yml