# To create a symlink wirte:
# sudo ln -s /path/to/my/app/ssh-vps-forward.service /etc/systemd/system/ssh-vps-forward.service
# sudo systemctl daemon-reload 
# sudo systemctl enable ssh-vps-forward.service 
# sudo systemctl start ssh-vps-forward.service 
# sudo systemctl restart ssh-vps-forward.service 

[Unit]
Description=Persistent SSH Connection to VPS
After=network-online.target

[Service]
User=greenserver
ExecStartPre=/usr/bin/bash -c 'until ss -ltn sport = :80; do sleep 2; done'
ExecStartPre=/usr/bin/bash -c 'until ss -lun sport = :53; do sleep 2; done'
ExecStart=/usr/bin/autossh -M 0 -N -o ExitOnForwardFailure=yes -R 127.0.0.1:8080:127.0.0.1:80 -R 127.0.0.1:2053:127.0.0.1:53 vps
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target